@font-face {
    font-family: "cafe";
    src: url('assets/cafe.ttf');
}


/* nav bar */
body {
    font-family: "cafe";
    box-sizing: border-box;
    margin: 0px
}

nav {
    width: 100%;
    height: 400px;
    padding: 0px 100px;
    position: fixed;
    line-height: 75px;
    margin-top: 8%;
    background-image: linear-gradient(white, rgb(255, 175, 188),white);
}

.navheader {
    color:rgb(255, 255, 255);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.388);
    float: left;
    letter-spacing: 2px;
    margin-top: 10%;
    margin-right: 5%;
}



nav li {
    margin-top: 11%;
    display: inline-block;
    list-style: none;
}

nav li a {
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.596);
    font-size: 15px;
    padding: 0 30px;
    color: white;

    &:hover {
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.777);
    }
}


/* todo list */

#todo-body {
    width: 100%;
    height: 400px;
    margin-top: 22%;
    background-image: linear-gradient(white, rgb(175, 240, 255),white);
    background-repeat: no-repeat;
}

#todo-container {
    margin-top: -40px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}