@font-face {
    font-family: "cafe";
    src: url('assets/cafe.ttf');
}


/* nav bar */
body {
    font-family: "cafe";
    box-sizing: border-box;
    margin: 0px
}

nav {
    width: 100%;
    height: 400px;
    padding: 0px 100px;
    position: fixed;
    line-height: 75px;
    margin-top: 8%;
    background-image: linear-gradient(white, rgb(255, 175, 188),white);
}

.navheader {
    color:rgb(255, 255, 255);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.388);
    float: left;
    letter-spacing: 2px;
    margin-top: 10%;
    margin-right: 5%;
}



nav li {
    margin-top: 11%;
    display: inline-block;
    list-style: none;
}

nav li a {
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.596);
    font-size: 15px;
    padding: 0 30px;
    color: white;

    &:hover {
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.777);
    }
}


/* todo list */

#todo-body {
    width: 100%;
    height: 400px;
    margin-top: 22%;
    background-image: linear-gradient(white, rgb(175, 240, 255),white);
    background-repeat: no-repeat;
}

#todo-container {
    margin-top: -170px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.596);
    background-color: rgba(175, 240, 255, 0);
}

#todo-container label {
    color: white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.634);
}

#todo-container input {
    margin-top: 10px;
    border: 2px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.596);
}

#todo-container button {
    border: 2px solid white;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.596)

}

#todo-container button:hover {
    cursor: pointer;
}

#task-list {
    color: white;
    list-style-type:disc;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.634);
}


#add {
    margin-left: 0;
}

button {
    margin-left: 20px;
}



/* budget calc */

#budget-body {
    background-image: linear-gradient(white, rgb(200, 255, 175), white);
    background-repeat: no-repeat;
    
}


.budget-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.596);
    padding: 5%;


}

.budget-container button {
    border: none;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.596);
    cursor: pointer;
}

table, th, td {
    border: 2px solid white;
    border-spacing: 0px;
    border-width: 3px;    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.596);

}


th {
    align-items: center;
    padding-right: 80px;
    color: black;

}

table {
    line-height: 30px;
    padding: 5%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.596);

}

#category-select, #amount-input, #date-input {
    font-family: "cafe";
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.388);
}

.input-section label {
    padding-right: 7px;
    padding-left: 10px;
    font-weight: 600;
}

#total-amount {
    font-weight: 600;
}

#home {
    margin-top: 15px;
    border: none;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.596);
    cursor: pointer;
    
}

#home-todo {
    position: relative;
    bottom: 80%;
    border: none;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.596);
    cursor: pointer;  
}

a {
    text-decoration: none;
    color: black;
    font-family: "cafe";
}
